.home {
    background-color: black;
}

.video-world {
    height: 90vh;
    width: auto;
}

@media (max-width:1024px) {
    .video-world {
        height: 70vh;
    }
}

@media (max-width:768px) {
    .video-world {
        height: 35vh;
    }
}

@media (max-width:420px) {
    .video-world {
        height: 20vh;
    }
}