.navbar{
    margin: auto 25px;
}

.container-fluid{
    padding: auto 104px;
}

.padding-top-40{
    padding-top: 40px;
}
.margin-0-auto{
margin: 0 auto;
}

h1{
    margin: 0!important;
}
ul{
    margin-bottom: 0!important;
}
a {
    text-decoration: none;
}

.bg-dark{
    background-color: black!important;
}
.gl{
    color: #39c217!important;
}